<div class="row">
  <div class="col-xs-12">
    <h2>Customer Reviews</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    {% for review in product.reviews_received.all %}
    <p><strong>{{review.title}}</strong></p>
    <p>{{review.content}}</p>
    <p class="stars_and_reviews"><small>Rating:
              {% for star in review.stars %}
                  <i class="fas fa-star"></i>
              {% endfor %}
              </small></p>
    <p><small class="text-muted">Posted by {{review.reviewer.username}} | {{review.date}}</small></p>

    <hr> {%endfor%}
  </div>
</div>
