{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Your Shopping Bag</h2>
            </div>
        </div>
    </div>



    {% include 'cart/cart.html' %}

    <div class="container">
        <div class="row cart-divider">
            <div class="col-xs-12">
                <h4 class="text-right"> SUBTOTAL: €{{ total }}</h4>
            </div>
        </div>
    </div>


    <div class="container cart-direction hidden-xs">
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'all_products' %}" class="btn submit_button"><i class="fas fa-arrow-left"></i> CONTINUE SHOPPING </a>
            </div>
            <div class="col-sm-6">
                <div class="text-right">
                    <a href="{% url 'checkout' %}" class="btn submit_button"> PROCEED TO CHECKOUT <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        </div>
        
        <div class="container cart-direction visible-xs">
         <div class="row">
              <div class="col-xs-12 mobile-cart">
                <div class="text-right">
                    <a href="{% url 'checkout' %}" class="btn submit_button"> PROCEED TO CHECKOUT <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            </div>
            <div class="row visible-xs">
            <div class="col-xs-12 mobile-cart">
                <div class="text-right">
                <a href="{% url 'checkout' %}" class="btn submit_button"><i class="fas fa-arrow-left"></i> CONTINUE SHOPPING </a>
                 </div>
            </div>
           
        </div>
        </div>
    
</section>
{% endblock content %}
