{% extends 'base.html' %} 
{% load static from staticfiles %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 hidden-xs  about_header_image">
        </div>
        
        
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <img class="img-responsive" src="{{ MEDIA_URL}}images/about.jpg">
        </div>
    </div>
</div>
</div>
<div class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">ABOUT HAPPY BOX</h3>
            <p>Modern life is stressful and hectic. With so many competing demands for our time and energy, there’s little left over for us. We come last. Our needs are side-lined, our wants are ignored, we’re too busy to look after ourselves.
            But when our wellbeing becomes an afterthought, it impacts on our health. We feel frazzled, wrung out, and disconnected and eventually, we crash. The Happy Box is a treat box with substance, designed to counter the pressures we face in modern life.</p>
            <p>We are bomarded on a daily basis with Scandi buzzwords such as "Hygge", "Lagom", "Lykke" and even Finland's "Kalsarikännit" meaning to get drunk if your pants!! In reality there is no one size fits all and sometimes all we need is a little hug in a box <i class="far fa-smile"></i></p>
            <p>Maybe you got sopping wet on your way to work or you're sat at home feeling ill and sorry for yourself, we can help you out. With happy box you can order some self-care straight to your front door on demand.</p>
             <p> Maybe a friend or family memeber needs cheeering up or a little boost. Sending a happy box is the best way to bridge miles and send smiles.</p>
            <p>There is just so much to celebrate in life, so let's get this party started! Delivery is fast and free.</p>
        </div>
    </div>
</div>

<div class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">OUR STORY</h3>
            <p>The idea for Happy Box was ulimately born while looking at an advert for motor breakdown asssist! I thought to myself wouldn't that be a great service for people's emotional needs. Everybody needs a little boost these days and what better way to get it than a speedy delivery of a gorgeous package brimming with fun and hope. From there the idea simply grew into what it is today.</p>
            <p>While there are thousands of wonderful monthly subscription boxes out there sometimes we need a little leg up on demand. We may not want to make a monthly commitment, we simply need a boost on the fly or we need to cheer up a close one. Happy Box has covered all sorts of situations. </p>
        </div>
        <div class="col-xs-12 content-section">
           <h3 class="text-center">MEET THE TEAM</h3>
           </div>
           <div class="col-xs-12">
           <div class="col-sm-4 text-center">
               <img class="meet" src="{{ MEDIA_URL}}images/meet_avatar.jpg">
               <h4>Becca - Digital Marketing</h4>
           </div>
           <div class="col-sm-4 text-center">
               <img class="meet" src="{{ MEDIA_URL}}images/meet_avatar_2.jpg">
               <h4>Eva - Box Designer</h4>
           </div>
           <div class="col-sm-4 text-center">
               <img class="meet" src="{{ MEDIA_URL}}images/meet_avatar_3.jpg">
               <h4>Pete - Office Dog</h4>
           </div>
        </div>
    </div>
</div>


<div class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">TESTIMONIALS</h3>
            
<h4>"It's the simple things..."</h4>
 <div class="speech-bubble">
<p>"About two months ago, I received the sweetest box in the mail. I had just gotten married, moved jobs, moved cities, left my friends, etc. A lot of exciting things were happening but I was still so sad to be leaving so many people that I loved. That is when I opened my mailbox and found the "Cheer Up Box". I never knew something so simple could turn my day around. Everything was packaged so perfectly. Anyways, all this to say that your business, your creation truly put a smile on my face and I live for uplifting others." </p>
    </div>
                            <div class="customer_detail">
                               Natalia, Recipient
                            </div>        
 <h4>"A little box of joy...</h4>
 <div class="speech-bubble">
<p>"I was sat at work, Monday morning, sopping wet due to an unexpected downpur on my commute! I never imagined a little box of comforts could make such a difference to my day. After the "Rainy Day Box" arrived my day went from rock bottom to an absolute blinder of efficiency!! Thank you for making this boost available -Jen, Sender/Recipient</p>
 </div>
                            <div class="customer_detail">
                               Jen, Sender/Recipient
                            </div>        

<h4>"A platfrom for love..."</h4>
 <div class="speech-bubble">
<p>"What’s great about your business is that it is a platform for love.  A person can take time out of their own life to send a note of encouragement, affirmation or apology.  Gifts, especially the small ones it seems, have incredible power. Getting people to shift their focus away from themselves in today’s world can be difficult.  So, thank you!  Thank you for providing a place for others to give and love well." -Sarah, Sender </p> 
</div>
                            <div class="customer_detail">
                               Sarah, Sender
                            </div>       
        </div>
    </div>
</div>
{% endblock content %}