{% extends 'base.html' %} 
{% load static from staticfiles %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center hidden-xs about_header_image">
           
        </div>
        <div class="col-xs12 hidden-sm hidden-md hidden-lg">
            <img src="{{ MEDIA_URL}}images/about.jpg" class="img-responsive">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">ABOUT HAPPY BOX</h2>
            <p>Modern life is stressful and hectic. With so many competing demands for our time and energy, there’s little left over for us. We come last. Our needs are side-lined, our wants are ignored: we’re too busy to look after ourselves.
            But when our wellbeing becomes an afterthought, it impacts on our health. We feel frazzled, wrung out, and disconnected. And eventually, we crash. The Happy Box is a treat box with substance, designed to counter the pressures we face in modern life.</p>
            <p>We are bomarded on a daily basis with Scandi buzzwords such as "Hygge", "Lagom", "Lykke" and even Finland's "Kalsarikännit" meaning to get drunk if your pants!! In reality there is no one size fits all and sometimes all we need is a little hug in a box <i class="far fa-smile"></i></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">STORY</h2>
            <p>The idea for Happy Box was ulimately born while looking at an avert for motor breakdown asssist! I thought to myself wouldn't that be a great service for people's emotional needs.</p>
            <p>While there are thousands of wonderful monthly subscription boxes out there sometimes we need a little leg up on demand.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Testimonials</h2>
            
 <h3>"I NEVER KNEW SOMETHING SO SIMPLE COULD TURN MY DAY AROUND."</h3>
<p>"About two months ago, I received the sweetest box in the mail. I had just gotten married, moved jobs, moved cities, left my friends, etc. A lot of exciting things were happening but I was still so sad to be leaving so many people that I loved. That is when I opened my mailbox and found the "PARTY". I never knew something so simple could turn my day around. Everything was packaged so perfectly. I did not want to eat the caramels or even throw the confetti because it just looked so cute! I took the box to my new school as I painted the walls and prepared for my new group of kids.  I did not want to "throw confetti" until the perfect moment came my way. I did however, go ahead and eat the caramels. I thought I could just have one but they were so good that I ate them all in two days and did not share even one with my husband. Anyways, all this to say that your business, your creation truly put a smile on my face and I live for uplifting others." -Natalia, Recipient</p>
<h3>"...A PLATFORM FOR LOVE."</h3>
<p></p>"What’s great about your business is that it is a platform for love.  A person can take time out of their own life to send a note of encouragement, affirmation or apology.  Gifts, especially the small ones it seems, have incredible power.  Regardless of the tangible written message, the ethereal one is clear… ‘I thought of you - you matter.’  I stopped what I was doing today, what I was thinking about, what I was busy with, to focus on your needs.  Getting people to shift their focus away from themselves in today’s world can be difficult.  So, thank you!  Thank you for providing a place for others to give and love well." -Sarah, Sender </p> 

<h3>"...A GIFT THAT SAYS, 'I'M THINKING ABOUT YOU...'"</h3>
<p>"My sweet sister was having a really tough week.  She lives two states away so there isn't a lot that I can do to help cheer her up.  I had heard about the Confetti Post from a podcast that I listen to and decided to give it a try.  I was delighted to find a nice array of options to choose from, good price points to work with and very prompt very personal service from Leitia.  I will very happily send this as a surprise gift to someone again and would encourage others to do so as well.  This really is a gift that says, 'I'm thinking about you, and I want you to know!'"  -Elizabeth, Sender</p>

<h3>"...THE RIGHT AMOUNT OF FEEL-GOOD SILLIES THAT I LOVE PLUS PRODUCTS THAT I WILL ACTUALLY USE..."</h3>
<p>"Oh my gosh! What an awesome surprise I got in the mail today! The 'get well' package was SO fun and just the right amount of feel-good sillies that I love plus products that I will actually use and can't wait to try! Not only is the gift amazing but I really appreciate you all thinking of me and taking the time to do this, it means so much!" -Lindsay, Recipient</p>


<h3>" I NOW KNOW ANY EXCUSE IS REASON ENOUGH TO SEND ONE."</h3>
<p>"I was in need of a quick gift for two friends -- one who was starting a new job, the other was going through a difficult time. I had heard about the Confetti Post but hadn't had a reason to send one yet. I now know any excuse is reason enough to send one. Both of my friends were incredibly touched and their days were brightened by such a unique and personal gift. I highly recommend the Confetti Post to anyone. It's especially great for helping make friends who live far a way feel special."  -Anonymous, Sender</p>

        </div>
    </div>
</div>
{% endblock content %}