{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}
<section>
    <div class="container content-section">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel accounts">
                    <div class="panel-body accounts_form">
                        <h3>Confirm Password Reset</h3>

                        {% if validlink %}
                        
                        <form action="" method="post" class="auth">
                            <p>Please enter your new password twice for verification purposes</p>
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                
                                    {{ form.new_password1.errors }}
                                       <label for="id_new_password1">New password:</label>
                                      
                                    {{ form.new_password1 }}
                                
                                    {{ form.new_password2.errors }}
                                       <label for="id_new_password2">Confirm password:</label>
                                    {{ form.new_password2 }}
                            <br>
                                    <input type="submit" class="submit_button" value="Change my password" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</p>
{% endif %} {% endblock %}
