{% extends 'base.html' %} {% block content %}
<section>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Password Reset Complete</h3>

            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
            <p>You should be receiving it shortly.</p>
            <a href="{% url 'all_products' %}"><h4>Continue Shopping <i class="fas fa-arrow-right"></i></h4></a>
        </div>
    </div>
</div>
</section>
{% endblock %}
