{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<section>
<div class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel accounts">
                <div class="panel-body accounts_form">
                    <h3>RESET PASSWORD</h3>
                    <form method="post" class="auth">
                        <p>Please specify your email address to receive instructions for resetting it.</p>
                        <br>
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        {{ form.email.errors }}
                        <p>{{ form | as_bootstrap }} <input class="submit_button" type="submit" value="RESET PASSWORD" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
