{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}
<section>
<div class="container">
    <div class="row">
        <h2 class="text-center">Your Wishlist</h2>
    </div>
</div>


<div class="container">
    <div class="row">
        {% for product in wishlist_items %}
        <div class="col-sm-4">
            <a href="{% url 'product_detail' product.product_id %}">
                            <img class="product_list_image" src="{{product.image.url}}" alt="product image">
                            <div class="col-xs-6 product_list_attribute">
                                <h4>{{product.name}}</h4>
                                </div>
                                </a>
            <div class="col-xs-6 text-right product_list_attribute">
                <form method="post" action="{% url 'remove_wishlist_item' product.product_id%}?next={{request.path}}">
                    {% csrf_token %}
                    <button type="submit" class="btn wish_button"><i class="far fa-times-circle fa-2x"></i></button>
                </form>
            </div>

            <p>{{product.description|truncatechars:100}}</p>
            <h4>€{{product.price}}</h4>

            <form class="form-inline" action="{% url 'add_selected_wishlist_items_to_cart' %}?next={{request.path}}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{product.product_id}}" />
                <div class="col-xs-12 product_list_attribute wishlist_qty">
                    <label for="wishlist_qty">QTY</label>
                    <input class="form-control" id="wishlist_qty" type="number" name="quantity" value="{{product.quantity}}" max="5" min="1" />
                </div>
                <div class="col-xs-12 product_list_attribute">
                    <input class="btn submit_button_list" type="submit" value="ADD TO CART" />
                </div>
            </form>
        </div>

        {% endfor %}
    </div>
</div>

<div class="container wishlist_all_commands">
    <div class="row">
        <div class="col-xs-6">
            <form method="post" action="{% url 'add_all_wishlist_items_to_cart' %}?next={{request.path}}">
                {% csrf_token %}
                <button class="btn submit_button" type="submit">Add all to Cart</button>
            </form>
        </div>
        <div class="col-xs-6 text-right">
            <form method="post" action="{% url 'delete_all_wishlist_items' %}?next={{request.path}}">
                {% csrf_token %}
                <button class="btn submit_button" type="submit">Delete Wishlist</button>
            </form>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}
