body {
    font-family: 'Roboto', sans-serif;

}

/*Navigation*/
.logo {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    text-align: center;
    color: #FC0FC0;
}

a:hover.logo {
   text-decoration: none;
   color: #FC0FC0;
}

.navbar-default .navbar-brand {
      font-family: 'Bungee Shade', cursive;  
      color: #FC0FC0;
}

.search-align {
  padding-top: 23px;
}

.account-top {
    padding-top: 37px;
    text-align: right;
}

.account-top ul{
    margin-bottom: 0px;
}
.account-top li {
    display: inline-block;
    text-decoration: none;
    padding-right: 15px;
    
}

.search_box {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: 0;
}

.shipping-head {
    background-color:#01ACBD;
    color:#ffffff;
    line-height: 2;
}


.home {
    background-image: url(/media/images/home.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    color: white;
    height: 650px;
   
}

/* Product Detail*/

.wish_button {
    background-color: #ffffff;
}

.cart_button {
    border: solid #FC0FC0;
    border-radius: 0%;
    background-color: #ffffff;
    color:#FC0FC0;
}

.cart_button:hover {
    border: solid #FC0FC0;
    border-radius: 0%;
    background-color: #FC0FC0;
    color: #ffffff;
}

/* Contact */

.header_image {
    background-image: url(https://beemoorwi.files.wordpress.com/2017/01/cup-1574446_1280.png);
    height:600px;
    background-position: center center;
    background-size:cover;
}

.contact_form h4{
    text-align: center;
}

.contact_button {
    border: solid #01ACBD;
    border-radius: 0%;
    background-color: #ffffff;
    color:#01ACBD;
  
}

.contact_button:hover {
    border: solid #01ACBD;
    border-radius: 0%;
    background-color: #01ACBD;
    color: #ffffff;
}


/*------------------------------------------*/
/*Media Queries*/

@media screen and (min-width: 768px) {
    .navbar-default {
        background: transparent;
        border: none;
        width: 100%;
        text-align: center;
    }
    
    .navbar-default li {
        float: none;
        display: inline-block;
    }
}


