{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}
<section>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel accounts">
                <div class="panel-body accounts_form">
                    <h3>Login</h3>
                    <form class="auth" method="POST">
                        {% csrf_token %} {{ form | as_bootstrap }}
                        <p>Forgot your password? Click <a href="{% url 'password_reset' %}">here</a></p>
                        <input class="submit_button" type="submit" value="LOGIN" />
                    </form>
                     <p>New customer?<a href="{% url 'register' %}"> Sign up <i class="fas fa-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}
