{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <h3>Register Now!</h3>

                    <form method="POST">
                        {% csrf_token %} {{ form | as_bootstrap }}
                        <input type="submit" value="login" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
