{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}"> 
    {% block head_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock head_js %}

    <title>Full Stack</title>
</head>

<body>
<nav class="navbar navbar-masthead navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-crown"></i></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                     {% for category in categories %}
                    <li><a href="{% url 'categories' category %}">{{category}}</a></li>
                    {% endfor %}
                     <li><a href="{% url 'all_products' %}"> All Products</a></li>
                     <li><a href="{% url 'get_posts' %}"> Blog</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="far fa-user"></i> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Sign Up</a></li>
                        <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                             <i class="fas fa-shopping-bag"></i> Cart
                            {% if product_count > 0 %}
                            <label class="badge">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                    <li><a href="{% url 'view_wishlist' %}"><i class="fas fa-heart"></i> WishList
                    {% if items_in_wishlist %}
                    <span class="badge item_badge">{{items_in_wishlist}}</span>
                    {% endif %}</a></li>
                </ul>
                 <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
            </div>
        </div>
    </nav>
    
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
 {% block content %}
 
 {% endblock %}
</body>

</html>
