body {
    font-family: 'Roboto', sans-serif;
    color:#2e5c79;

}

p {
    font-size: 16px;
}


section {
    min-height: 80vh;
}

/*Navigation*/

.logo {
    font-family: 'Anton';
    font-size: 56px;
    text-align: center;
    color: #ff98cb;
}

a:hover.logo {
    text-decoration: none;
    color: #fb98e2;
}

a:focus.logo {
    text-decoration: none;
    color: #fb98e2;
}

.navbar-default .navbar-brand {
    font-family: 'Anton', cursive;
    color: #fb98e2;
}

#navbar {
    background-color: #2e5c79;
    border-color: #2e5c79;
}

.navbar-default .navbar-nav>li>a {
    color: #ff98cb;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #fff;
}

.open>.dropdown-menu {
    background-color: #2e5c79;
}

.dropdown-menu>li>a {
    color: #ff98cb;
}

.open>.dropdown-toggle.btn-default {
    background-color: #2e5c79;
}

.dropdown-toggle.btn-default {
    background-color: #2e5c79;
    color: #ff98cb;
}

.btn {
    border-radius: 0;
}

.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff98cb;
}


.navbar-default .navbar-nav>li>a {
    background-color: #2e5c79;
}

.dropdown {
    background-color: #2e5c79;
    color: #ff98cb;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ff98cb;
}

.search {
    background-color: #2e5c79;
    color: #ff98cb;
}

.account-top li a {
    color: #ff98cb;
}

nav {
    background-color: #2E5C79;
    padding-bottom: 0.02em;
}

.navbar-default .navbar-toggle {
    border-color: #2e5c79;
    border-radius: 0;
}

.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default {
    border-color: #2e5c79;
    background-color: #2e5c79;
}

.navbar-header {
    background-color: #2E5C79;
    color: #ff98cb;
}

.search-align {
    padding-top: 37px;
}

.account-top {
    padding-top: 37px;
    text-align: right;
}

.account-top ul {
    margin-bottom: 0px;
}

.account-top li {
    display: inline-block;
    text-decoration: none;
    padding-right: 15px;

}

.search_box {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: 0;
}

.shipping-head {
    background-color: #ff98cb;
    color: #ffffff;
    line-height: 2;
}


.home {
    padding: 0;
}


#promotion {
    background-image: url(/media/images/happy_home.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0;
    color: #ffffff;
    height: 800px;

}

#promotion-mobile {
    background-image: url(/media/images/happy_home.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0;
    color: #ffffff;
    height: 450px;

}

.home-cta {
    top: 20em;
}

.home-cta h2 {
    font-size: 6em;
}

.home-mobile-cta {
    top: 10em;
}

.btn-lg {
    background-color: #2e5c79;
    color: #ff98cb;
    border-color: #ff98cb;
}




.content-section {
    padding-top: 2em;
    padding-bottom: 2em;
}

.panel-default {
    border-color: #ffffff;
    box-shadow: none;
}

.panel-default>.panel-heading {
    background-color: #ffffff;
    border-color: #ffffff;
}

.layout { 
    padding: 0;
}

.blog {
    padding-bottom: 2em;
}

.blog_summary img {
    max-width: 100%;
}

.blog_post_summary p {
    font-size: 14px;
}

.blog_post_summary h3 {
   padding-top: 0;
   margin-top: 0;
}


/* Product List*/

.product_list_image {
    width: 100%;
    height: 100%;
}


/* Product Detail*/

.cover_image {
    padding: 2em;
}

.stars_and_reviews {
    color: #fdd519;
}

/*Accounts*/

.accounts {
    background: repeating-linear-gradient( 45deg,
    #fee365,
    #fee365 10px,
    #ffffff 10px,
    #ffffff 20px);
    padding: 3em;
    border: solid #fee365;
}

.accounts_form {
    background: #ffffff;
}

.auth {
  
    padding-bottom: 1.8em;
}

/*Cart & Wishlist*/

.badge {
    background-color: #ff98cb;
}

.empty_message {
    height: 4.5em;
    background: #FDD519;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, #ff98cb, #fdd519);
    color: #ffffff;
}


.empty_icon {
    padding-top: 3em;
    padding-bottom: 3em;
}

.browse a {
    border: solid #ff98cb;
    border-radius: 0%;
    background: #ffffff;
    color: #ff98cb;
    ;
}

.browse a:hover {
    border: solid #ff98cb;
    border-radius: 0%;
    background-color: #ff98cb;
    color: #ffffff;
}

.cart-divider {
    border-bottom: 0.1em solid #aeaeb0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.cart-direction {
    padding-top: 2em;
}

.mobile-cart {
    padding-bottom: 1.5em;
}

.wish_button {
    background-color: #ffffff;
    color:#ff98cb;
}

.product_list_attribute {
    padding-left: 0;
    padding-right: 0;
}

.product_list_attribute h4 {
    color: #000000;
}

.wishlist_qty {
    padding-bottom: 1.5em;
}

.wishlist_all_commands {
    padding-top: 2em;
    padding-bottom: 2em;
}



.review_section {
    padding: 2em;
}



/* Contact */

.header_image {
    background-image: url(/media/images/contact.jpg);
    height: 600px;
    background-position: center center;
    background-size: cover;
}

.contact_form h4 {
    text-align: center;
}

.submit_button {
    border: solid #ff98cb;
    border-radius: 0%;
    background-color: #ffffff;
    color: #ff98cb;

}


.submit_button:hover {
    border: solid #ff98cb;
    border-radius: 0%;
    background-color: #ff98cb;
    color: #ffffff;
}

.submit_button_list {
    border: solid #ff98cb;
    border-radius: 0%;
    background-color: #ffffff;
    color: #ff98cb;
    width: 100%;

}

.submit_button_list:hover {
    border: solid #ff98cb;
    border-radius: 0%;
    background-color: #ff98cb;
    color: #ffffff;
}

.contact_submit {
    padding-bottom: 3em;
}

/* About */

.about_header_image {
    background-image: url(/media/images/about.jpg);
    height: 600px;
    background-position: center center;
    background-size: cover;
    
}

.speech-bubble {
    background: #ff98cb;
    display: inline-block;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;
    vertical-align: top;
    min-width: 7em;
    border-radius: .4em;
    width: 100%;
}

.speech-bubble:after {
    border: 1em solid transparent;
    border-top-color: #ff98cb;
    content: '';
    margin-left: -1em;
    position: absolute;
    top: 100%;
    left: 90%;
    width: 0;
    height: 0;
}

.customer_detail {
    text-align: right;
    font-style: italic;
}

.meet {
    border-radius:50%;
}



footer {
    padding: 20px;
    background-color: #2E5C79;
    color: #ff98cb;
}

footer a {
   color: #ff98cb;  
}


footer a:link {
    color: #ff98cb;   
}

footer a:visited {
    color: #ff98cb; 
} 

a:active {
      color: #ff98cb; 
}

footer a:hover {
   color: #ffffff;
  text-decoration:none;
}

ul.unstyled {
    list-style: none;
    padding-left: 0;

}

ul.unstyled li {
    display: inline-block;
    padding-right: 20px;


}



/*------------------------------------------*/

/*Media Queries*/

@media screen and (min-width: 768px) {
    .navbar-default {
        background: transparent;
        border: none;
        width: 100%;
        text-align: center;
    }

    .navbar-default li {
        float: none;
        display: inline-block;
    
    }
    
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      
      .panel img {
          width:80%;
      }

}