{% extends 'base.html' %} {% load static from staticfiles %} {% block content %}
<section>
<div class="container">
  
  {% if not category_filtered %}
   <h3 class="text-center">All Boxes</h3>
   {% else %}
   <h3 class="text-center"> {{category_filtered }}</h3>
   {% endif %}
   
    {% for product in products %}
 
   {% if forloop.first %}<div class="row">{% endif %}
   
    
    <div class="col-sm-4">

      <a href="{% url 'product_detail' product.id %}">
            <img class="product_list_image" src="{{product.image.url}}" alt="product image">
            <div class="col-xs-6 product_list_attribute">
            <h4>{{product.name}}</h4>
             
            </div>  
        </a>
      <div class="col-xs-6 text-right product_list_attribute">
       

        <form action="{% url 'add_to_wishlist' %}?next={{request.path}}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{product.id}}" />
          <button type="submit" class="btn wish_button">
            <i class="far fa-heart fa-2x"></i>
          </button>
        </form>
     
      </div>
      <div class="col-xs-12 product_list_attribute">
        <p>{{product.description|truncatechars:100}}</p>
      </div>
      <div class="col-xs-12 product_list_attribute">
        <h4>€{{product.price}}</h4>
      </div>


<div class="col-xs-12 product_list_attribute">
        {% if product.reviews_received.all %} {% if product.reviews_received.all|length == 1 %}
        <p class="pull-right">{{product.reviews_received.all|length}} Review</p>
        {% else %}
        <p class="pull-right">{{product.reviews_received.all|length}} Reviews</p>
        {% endif %} {% endif %} {% if product.stars %} {% for star in product.stars %}
        <i class="fas fa-star"></i> {% endfor %} {% if product.needs_half_star %}
        <i class="fa fa-star-half"></i> {% endif %} {{product.average_rating}} avg rating {% else %}
        <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>No reviews yet</p>
        {% endif %}
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
  {% if forloop.last %}</div>{% endif %}
    {% endfor %}
  

</div>
</section>
{% endblock content %}
