{% extends 'base.html' %} {% load static from staticfiles %} {% block title %} {% if category %}{{ category.name }} {% else %} Products {% endif %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row" style="margin-top: 6%">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <div class="row">
          {% for product in products %}
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="#">
                      <img src=" {{ product.image.url }}">
                            </a>
              <div class="caption">
                <h3 class="text-center">
                  <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                </h3>
                <p class="text-center"> {{ product.price }}</p>
                <p class="text-center"> {{ product.category }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                  {% csrf_token %}
                  <div class="input-group">
                    <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">Add to Cart</button>
                          </span>
                  </div>
                  <!-- /input-group -->

                </form>
              </div>
            </div>
          </div>


          {% endfor %}
        </div>


      </div>
      <!-- /.blog-post -->

    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Categories</h4>
        <ol class="list-unstyled">
          <li {% if not category %} class="active" {% endif %}><a href="#">All</a></li>
          {% for c in categories %}


          <a href="#">{{ c.name }}</a>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <!-- /.blog-sidebar -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
